/*
ეს არის სტილები ( აქ დაიწერება ყველა სტილი ) თითოეულ დეტალს გაიგებ რა რისთვის არის
*/
.container{/*ახლა ამ კონტეინერს მივცემ პარამეტრებს როგორ უნდა გამოიყურებოდეს*/
    display: flex; 
    justify-content: space-between; /*ეს პარამეტრი გვაძლევს საშუალებას ელემენტები უკიდურესათ გავწიოთ გვერდი გვერდ
    ანუ ერთი ფოტო მაგალითად სულ მარჯვნივ როიყოს და მეორე ელემენტი მარცხნივ*/

    align-items: center; /*ეს გვაძლევს საშუალებას ელემენტები ჰორიზონტალურად გავასწოროთ ერთმანეთის მიმართ ( როცა კოდს ნახავ დატესტე
    ხან ახსენი პარამეტრი ხან დაუმატე და მიხვდები*/

    padding-left: 10px;
    padding-right: 20px;

    height: 40px;
    background-color: black;
}  /*ხედავ? HTML ში რომ გადახვიდე დაინახავ ელემენტს რომელსაც აქვს კლასი container
            შემდეგ css ით ვწვდები მაგ ელემენტს თავისი კლასის სახელით*/

.photo-container img{ /*აქ ფოტოს მივწვდი თავისი სახელით და მივეცი სტილი ( როგორ უნდა გამოიყურებოდეს )*/
    width: 169px;
}
.paata{
    color: rgb(166, 166, 166);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 40px; /*მარჯვნიდან გამოვწიეთ მარცხნივ 40 პიქსელით*/
}
.rame-ul{
    display: flex; /*ეს პარამეტრი განსაზღვრავს ელემენტის მოქნილობას , ეს იმას ნიშნავს რომ შეგიძლია ამ პარამეტრებით ელემენტები დაალაგო
    გვერდი გვერდ ან სვეტისნაირად < გაითვალისწინე ის რომ როცა რამე ელემენტს უთითებ flex ს მის შიგნით დალაგდება ელემენტები
    მაგალითი იხილე ქვემოთ*/

}
/*
                 <ul class="rame-ul"> აქ პარამეტრად აქვს display: flex; ანუ ul ის შიგნით ელემენტები დალაგდება გვერდიგვერდ
                         <li class="paata">TOP GAMES</li>  
                         <li class="paata">NEWS</li>
                         <li class="paata">STORE</li>
                         <li class="paata">SUPPORT</li>
                 </ul>
*/